body{
    background-color: rgb(0, 0, 0);
}


/* header */
.header {
    display: flex;
    align-items: center;
    width: 0 auto;
    height: 70px;
}

.nav {
    margin-left: auto;
    justify-content: flex-end;
    display: flex;
    list-style: none;
}

.navItem{
    display: inline-block;
    font-size: 15pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    color: #ffffff;
    line-height: 1em;
    text-decoration: none; 
    margin-left: 20px;
}

/* top image */
.top {
    position: relative;
}

.topImage{
    height: 450px;
    width: 1350px;
    object-fit: cover;
    width: 100%;
}
  
.topText {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 60px;
    color: #ffffff;
}


.contents {
    width: 100%;
    max-width: 1350px;
    margin-top: 100px;
}

/* .contents img {
    width: 100%;
} */

.text-center {
    text-align: center;
}

.flexbox {
    display: flex;
    margin: 20px;
    
}

.box1 {
    width: 40%;
    margin: auto;
    background-color: #ffe69b;
    text-align: center;
}

.box2 {
    width: 60%;
    background-color: #ffffff;
}

.contactElement{
    padding: 40px;
}

.textElement{
    color: #000000;
}

.icon{
    width: 40px;
    height: auto;
}

.textbox1-label,
.textbox1 {
    color: #333;
}

.textbox1-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox1 {
    width: 100%;
    padding: 8px 10px;
    margin:10px;
    border: none;
    border-radius: 3px;
    background: #eff1f5;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-003-label,
.textbox-003 {
    color: #333;
}

.textbox-003-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox-003 {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    background: #eff1f5;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-003::placeholder {
    color: #999;
}


.textbox1::placeholder {
    color: #999;
}

@media screen and (max-width: 767px) {
    .flexbox {
        display: block;
    }
    .flexbox .box1 {
        width: 100%;
        margin: 0 auto;
    }
    .flexbox .box2 {
        width: 100%;
        margin: 0 auto;
    }
}